.containItemCart{
    background-color: lightgray;
    border-radius: 5%;
    justify-content: center;
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    height: 50%;
}
.itemCart{
    font-size: 100%;
}
.deleteProd{
    color: red;
    font-weight: 700;
}