.sectionDetail{
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
}
.headerDetail{
    width: 100%;
    height: 20%;
}
.ditailpicture{
    width: 100%;
    height: 60%;
}
.imgDetail{
    width: 50%;
    height: auto;
}
.infoSection{
    width: 100%;
    height:40%;
    margin-top: 10%;
}
.infoDetail{
    width: 80%;
}
.infoPrice{
    width: 80%;
    font-weight: 700;
}
.detailFooter{
    width: 100%;
    height: 20%;
}
