.sectionProd{
    height: 350px;
    width: 250px;
    margin-left: 10%;
}
.nameProd{
    font-size: 100%;
    font-weight: 700;
}
.imgProd{
    width: 50%;
    height: auto;
}
.Info{
    font-weight: 700;
}
.botonDet{
    text-decoration: none;
    background-color: #4BD1A0;
    padding: 2%;
    border-radius: 5%;
    color: #E72E91;
    border-color: #4BD1A0;
}