.NavBar {
    background-color: #4BD1A0;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 1%;
    width: 5%; 
    height: 5%;
}
.textLogo{
    margin-top: 2%;
    color: black;
    font-size: 100%;
}
.navCategories{
    list-style: none;
    margin-top: 2.5%;
    margin-left: 13%;
    padding: 0px;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-content: space-evenly;
}
.navItem{
    background-color: #4BD1A0;
    width: 15%;
}
.navLink{
    text-transform: uppercase;
    color: #E72E91;
    display: block;
    font-size: 100%;
    font-weight: 700;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
}
.logIcon{
    width: 25%;
    padding: 0%;    
}
.logIn{
    padding: 0.5%;
    margin-left: 15%;
    margin-top: 2%;
    margin-right: 1%;
    border-radius: 10%;
    background-color: black;
    color: white;
    font-size: 70%;
    width: 7%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}