.contadorBox{
    padding-top: 3%;
    margin-left: 15%;
    background-color: #4BD1A0;
    width: 50%;
    border-radius: 10%;
}
.contador{
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #E72E91;
    font-weight: 700;
    justify-content: space-evenly;
    width: 70%;
    height: 15%;
    border-radius: 10%;
    margin-bottom: 5%;
    margin-left: 15%;
}
.botonCount{
    color: #E72E91;
    font-weight: 700;
    background-color: white;
    border-color: white;
    height:100%;
    margin-top: 10%;
}
.botonComprar{
    background-color: #E72E91;
    color: white;
    font-weight: 700;
    text-align: center;
    border-radius: 10%;
    width: 60%;
    height: 50%;
    margin-bottom: 5%;
}
